{% extends 'layout.html' %}
{% load static %}

{% block title %}About{% endblock %}
{% block navtitle %}About{% endblock %}

{% block content %}

<img src="../static/img/banner.jpg" style="height:400px">

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Trust Assessment of Cloud Service Providers</h2>
                <hr class="light">
                <p class="text-faded">Our mission is to create a webapp which can help you decide which cloud service provider is the best for you! We employ a bayesian belief network to assess and aggregate every aspect that is important in assessing the trust of a cloud service provider in order to score each cloud service provider based on your application.</p>
                <hr class="light">
                <p class="text-faded">
                    Amartya Sen <br><br>
                    Chris Peabody <br>
                    David Cabral <br>
                    Jose Herrera <br>
                </p>

            </div>
        </div>
    </div>
</section>
{% endblock %}
