{% extends 'layout.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block navtitle %}
    {% if request.user.is_authenticated %}
        Hello {{request.user.username}}
    {% else %}
        Home
    {% endif %}
{% endblock %}



{% block content %}
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Welcome to the home page!</h2>
                    <hr class="light">
                    <p class="text-faded">Good morning. Here is the main body of the opening page.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}