{% extends 'layout.html' %}
{% load static %}

{% block title %}Tutorial{% endblock %}
{% block navtitle %}Tutorial{% endblock %}

{% block content %}

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How to use the tool</h2>
                <hr class="light">
                <p class="text-faded">We will put the tutorial text here.</p>
                <hr class="light">
            </div>
        </div>
    </div>
</section>
{% endblock %}
