{% extends 'layout.html' %}
{% load static %}

{% block title %}Tutorial{% endblock %}
{% block navtitle %}Tutorial{% endblock %}

{% block content %}

<img src="../static/img/banner.jpg" style="height:400px">

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How to use the tool</h2>
                <hr class="light">
                <p class="text-faded">To begin using the tool, click the 'Demo Tool' button on the nav-bar at the top of the page. You will be brought to an input page. Here, you will be prompted on a variety of subjects, all of which will be taken into consideration to calculate the trust for the cloud service provider you select. 
                <br><br>
                First, select the cloud service provider from the dropdown that you wish to obtain a trust score for. You may optionally decide to fill out a review for the cloud service provider if you have used them before. Then, you must decide what service model you wish to use when assessing the CSP's trust.
                <br><br>
                Lastly, you must select the importance of six security domains. Choose from the dropdown boxes how important the security of each aspect is important to you. These selections will be used to determine the weight of consideration for each aspect in our trust assessment algorithm.
                <br><br>
                Once you have filled out all pertainant information, hit the submit button. You will be directed to a graphical representation of the results of the algorithm running. The trust score, as well as the scores of each of the four subcategories will be displayed. Each value can be between 0 and 1, with a value closer to 1 representing a more trustworthy assessment. Additionally, if you are logged in, the final trust score of any previous assessments you made will be displayed below. If you are not logged in, your assessments will not be saved.
                <br><br>
                To create an account, click the 'Register' button on the nav-bar at the top of the page.</p>
                <hr class="light">
            </div>
        </div>
    </div>
</section>
{% endblock %}
